@charset "UTF-8";

body {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='50px' height='50px' viewBox='0 0 50 50' version='1.1'%3E%3Cdefs%3E%3Cstyle%3Epath%7Bstroke-width:0.5 !important; stroke: %23fff !important;%7D.mouse%7Banimation:scroll 1s ease-in-out infinite;%7D@keyframes scroll%7Bto%7Btransform:translateY(5px)%7D%7D%3C/style%3E%3C/defs%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(255,255,255);fill-opacity:1;' d='M 27.640625 31.839844 L 25 34.480469 L 22.359375 31.839844 C 22.039062 31.519531 21.558594 31.519531 21.238281 31.839844 C 20.917969 32.160156 20.917969 32.640625 21.238281 32.960938 L 24.441406 36.160156 C 24.601562 36.320312 24.800781 36.398438 25 36.398438 C 25.199219 36.398438 25.398438 36.320312 25.558594 36.160156 L 28.761719 32.960938 C 29.078125 32.640625 29.078125 32.160156 28.761719 31.839844 C 28.441406 31.519531 27.960938 31.519531 27.640625 31.839844 Z M 27.640625 31.839844 '/%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(255,255,255);fill-opacity:1;' d='M 28.761719 27.441406 C 28.441406 27.121094 27.960938 27.121094 27.640625 27.441406 L 25 30.078125 L 22.359375 27.441406 C 22.039062 27.121094 21.558594 27.121094 21.238281 27.441406 C 20.917969 27.761719 20.917969 28.238281 21.238281 28.558594 L 24.441406 31.761719 C 24.601562 31.921875 24.800781 32 25 32 C 25.199219 32 25.398438 31.921875 25.558594 31.761719 L 28.761719 28.558594 C 29.078125 28.238281 29.078125 27.761719 28.761719 27.441406 Z M 28.761719 27.441406 '/%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(255,255,255);fill-opacity:1;' d='M 32.199219 18 L 32.199219 10.800781 C 32.199219 6.839844 28.960938 3.601562 25 3.601562 C 21.039062 3.601562 17.800781 6.839844 17.800781 10.800781 L 17.800781 18 C 17.800781 21.960938 21.039062 25.199219 25 25.199219 C 28.960938 25.199219 32.199219 21.960938 32.199219 18 Z M 25 23.601562 C 21.921875 23.601562 19.398438 21.078125 19.398438 18 L 19.398438 10.800781 C 19.398438 7.71875 21.921875 5.199219 25 5.199219 C 28.078125 5.199219 30.601562 7.71875 30.601562 10.800781 L 30.601562 18 C 30.601562 21.078125 28.078125 23.601562 25 23.601562 Z M 25 23.601562 '/%3E%3Cpath class='mouse' style=' stroke:none;fill-rule:nonzero;fill:rgb(255,255,255);fill-opacity:1;' d='M 25 8 C 24.558594 8 24.199219 8.359375 24.199219 8.800781 L 24.199219 11.199219 C 24.199219 11.640625 24.558594 12 25 12 C 25.441406 12 25.800781 11.640625 25.800781 11.199219 L 25.800781 8.800781 C 25.800781 8.359375 25.441406 8 25 8 Z M 25 8 '/%3E%3C/svg%3E%0A"), ns-resize;
  /* image-rendering: pixelated; */
  --orange: #e45f12;
  --yellow: #ffddc6;
  --boost: 0px;
  --speed: 0.00001;
  --jump: -265px;
  --flip: 1;
  --animation: stand;
  --progress: 0;
  padding: 0; margin: 0; position: relative; display: block; overflow-x: hidden;
  height: 500vh;
}

body.jump #mario {
  animation: none;
  background: url("https://assets.codepen.io/383755/smb1_mario_sheet.gif") -575px -200px/800px auto no-repeat;
  transform: scaleX(var(--flip)) translateZ(0px) translateY(calc((var(--progress) * var(--jump) + var(--boost))));
}

/* Background ---------------------------*/

.background {
  width: 100vw; height: 100vh;
  position: fixed; z-index: 0; left: 0; top: 0;
  >.inner {
    --t: rgba(255, 255, 255, 0.0001);
    position: absolute; width: 2500vw; height: 100vh; left: 0; top: 0;
    transform-style: preserve-3d;
    background:linear-gradient(to bottom, #32A4FC 10%, #65BCFF 80%);
    transform: translateX(calc(var(--progress) * -22vw)) translateZ(0px);
    /* display: flex; */
    &:after {
      content: ""; position: absolute; width: 100%; height: 100%; left: 0; top: calc(50% + 250px);
      background: url("public/img/type_a/ground.gif");
    }
    >.cloud {
      position: absolute; width: 500px; height: 250px; top: calc(50% - 170px); z-index: 2;
      background: url("public/img/type_a/cloud_upper.png") 0px 0px/500px auto no-repeat;
      transform: translateX(calc(var(--progress) * 0.5vw)) translateZ(0px);
      background-size: 1000px 500px;
      &:nth-of-type(2){
        background-position: -500px 0px;
      }
    }
    .mountain {
      position: absolute; width: 400px; height: 400px; top: -70px; left: 0;
      background: url("public/img/type_a/cloud_ground.png") 50% 100%/contain no-repeat;
      z-index: 3;
    }
  }
}

.background .inner .cloud:before, .background .inner .cloud:after {
  content: ""; position: absolute; width: 100%; height: 100%; left: -35vw; top: -100px;
  background: url("public/img/type_a/cloud_upper.png") -10px -105px/450px auto no-repeat;
  transform: translateX(calc(var(--progress) * -2vw)) translateZ(0px);
}
.background .inner .cloud:after {
  left: 25vw; top: 100px;
  transform: translateX(calc(var(--progress) * 2vw)) translateZ(0px);
}
.background .inner .cloud:nth-of-type(1) { left: calc(100vw - 50vw); }
.background .inner .cloud:nth-of-type(3n) .mountain { left: -12.5vw; }
.background .inner .cloud:nth-of-type(3n) .mountain:after {
  transform: translateX(calc((var(--progress) * 0.5vw))10vw) translateZ(0px);
}

/* Scrollbar ---------------------------*/

body::-webkit-scrollbar { width: 12px; }
body::-webkit-scrollbar-track { background: var(--yellow); }
body::-webkit-scrollbar-thumb { 
  background-color: var(--orange); outline: 1px solid var(--yellow); 
}