:root {
    --primary-color: #e6002d;
    --bg-color: #fff5f7;
    --text-color: #333;
}

body {
    font-family: 'Pretendard', sans-serif;
    background-color: var(--bg-color);
}
.header{
    .gnb-bar{
        background-color: white;
    }
}

.section-hero {
    width: 100%; height: 1000px; display: flex;
    justify-content: center; align-items: center; position: relative;
    overflow: hidden;
}

.sub-title {
    font-size: 2rem;
    color: #666;
    margin-bottom: 10px;
    line-height: 1.4;
    font-weight: 700;
}

.main-title {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 900;
}

.interactive-area {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.center-circle {
    position: absolute; width: 600px; height: 600px;
    background: white;
    border-radius: 50%;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.progress-ring {
    position: absolute; transform: rotate(-90deg); width: 580px; height: 580px;
}

.progress-ring__circle {
    stroke-dasharray: 1130.97;
    stroke-dashoffset: 1130.97;
    transition: stroke-dashoffset 2s ease-out;
    stroke-linecap: round;
}

.circle-content {
    text-align: center;
    z-index: 6;
}

.temperature-value {
    position: relative;
    >#temp-val{
        font-size: 160px; 
        font-weight: 700; letter-spacing: -0.02em;
        color: var(--primary-color); line-height: 0.9em; margin:0;
        user-select: none; 
    }
    >.degree {
        display: block; width: 32px; height: 32px; border-radius: 50%;
        border: 8px solid var(--primary-color);
        position: absolute; top: -14px; right: -26px;
    }
}
.label {
    font-size: 1.2rem;
    color: #666;
    margin: 0;
    font-weight: 700;
    user-select: none; 
}

.description{
    font-size: 36px; text-align: center; color: #33363D;
    margin: 10px 0; letter-spacing: -0.02em;
    font-weight: 700; padding-top: 2rem;
    user-select: none; 
}

/*-------------------*/

.cam-title-wrap{
    width:528px; position: absolute; top: 32px; left: 48px;
    z-index: 10; display: flex; justify-content: center; align-items: center;
    >.title-circle{
        width:520px; height:520px; border-radius: 50%; flex-shrink: 0;
        background-color: white;
        display: flex; justify-content: center; align-items: center;
        border: 1px solid #ECD5DD;
        box-shadow: 4px 10px 24px rgba(0, 0, 0, 0.1);
        >img{
            width:64%; 
        }
    }
    .cam-cta{
        width: 308px; height:202px; position: absolute; bottom: -100px; left: 0; right: 0;
        margin: auto; flex-shrink: 0;
        .wing-element{
            width: 70%; position: absolute; top: 0; left: 0; right: 0; margin: auto;
            >.base-heart{
                width: 100%;
            }
            >.heart-wing{
                width: 64px; height: 88px; position: absolute; top:-10px;
                &.wing-r{
                    right:-28px;
                    transform-origin: 0% 80%;
                    animation: wing-r 1s infinite;
                }
                &.wing-l{
                    left:-28px;
                    transform-origin: 100% 80%;
                    animation: wing-l 1s infinite;
                }
            }
            >.cta-text{
                position: absolute; top: 64px; left: 0; right: 0; margin: auto;
                width:120px;
            }
        }
    }
}
@keyframes wing-r{
    0%{ transform: rotate(0deg); }
    50%{ transform: rotate(16deg); }
    100%{ transform: rotate(0deg); }
}
@keyframes wing-l{
    0%{ transform: rotate(0deg); }
    50%{ transform: rotate(-16deg); }
    100%{ transform: rotate(0deg); }
}
/*-------------------*/

.section-content{
    position: relative; width:100%; height: 1710px; text-align: center; 
    padding-bottom: 150px;
    .content-full {
        width: 1478px; position: absolute; margin: auto; left: 0; right: 0; top: -12px;
        height: 1710px;
    }
}

